._*
.DS_Store
.*.sw?
*~
*.gem
*.rbc
/.config
/.yardoc
/_yardoc
/doc/
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/templates/*.txt
/test/tmp/
/test/version_tmp/
/tmp/
Gemfile.lock
.ruby-version
.ruby-gemset
